@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Carousel Start -->
<div class="carousel">
    <div class="container-fluid">
        <div class="owl-carousel">
            <div class="carousel-item">
                <div class="carousel-img">

                    <img src="~/Content/Customer/img/DarulAman.png" he alt="Image" />
                </div>
                <div class="carousel-text">
                    <h3 style="color:white;padding:6rem 0 0 0;font-weight:bold">
                        <center>
                            كُنتُمْ خَيْرَ أُمَّةٍأُخْرِجَتْ لِلنَّاسِ تَأْمُرُونَ بِٱلْمَعْرُوفِ وَتَنْهَوْنَ  عَنِ ٱلْمُنكَرِ
                            وَتُؤْمِنُونَ بِٱللهِ وَلَوْ ءَامَنَ  أَهْلُ ٱلْكِتَٰبِ لَكَانَ خَيْرًا  لَّهُم
                        </center>
                        <center>مِّنْهُمُ ٱلْمُؤْمِنُونَ وَأَكْثَرُهُمُ ٱلْفَٰسِقُونَ</center><br />

                    </h3>
                    <p>
                        You are now the best people brought forth for (the guidance and reform of) mankind.[88] 
                        You enjoin what is right and forbid what is wrong and believe in Allah. Had the People of the Book[89]
                        believed it were
                        better for them. Some of them are believers but most of them are transgressors.
                        <b>(Quran 3:110)</b>

                    </p>
                    <div class="carousel-btn">
                        <a class="btn btn-custom btn-lg" href="@Url.Action("Donate","Home")">Donate Now</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="~/Content/Customer/img/DarulAman2.png" alt="Image">
                </div>
                <div class="carousel-text">
                    <h3 style="color: white; padding: 6rem 0 0 0; font-weight: bold">
                        <center>قُلْ هَٰذِهِ ۦ سَبِيلِىٓ أَدْعُوٓا۟ إِلَى ٱللَّهِ عَلَىٰ بَصِيرَةٍ أَنَاْ وَمَنِ ٱ تَّبَعَنِى</center>
                        <center>  وَسُبْحَٰنَ ٱللَّهِ وَمَآ أَنَاَ۠ مِنَ ٱلْمُشْرِكِينَ    </center><br />
                    </h3>
                    <p>
                        Tell them plainly:
                        “This is my way: I call you to Allah, on the basis of clear perception – both I and those who follow me. Allah – Glory be to Him – is free of every imperfection.[78]
                        I have nothing to do with those who associate others with Allah in His Divinity.”
                        <b>(Quran 12:108)</b>
                    </p>
                    <div class="carousel-btn">
                        <a class="btn btn-custom btn-lg" href="@Url.Action("Donate","Home")">Donate Now</a>
                    </div>
                </div>
            </div>
            <div class="carousel-item">
                <div class="carousel-img">
                    <img src="~/Content/Customer/img/carousel-3.jpg" alt="Image">
                </div>
                <div class="carousel-text">
                    <h3 style="color: white; padding: 6rem 0 0 0; font-weight: bold">
                        <center>
                            يَٰٓأَيُّهَا ٱلنَّاسُ إِنَّا خَلَقْنَٰكُم  مِّن ذَكَرٍ وَأُنثَىٰ وَجَعَلْنَٰكُمْ شُعُوبًا وَقَبَآئِلَ لِتَعَارَفُوٓا۟
                        </center>
                        <center>إِنَّ أَكْرَمَكُمْ عِندَ ٱللَّهِ أَتْقَىٰكُمْ إِنَّ ٱللََّهَ  عَلِيمٌ خَبِيرٌ</center><br />

                    </h3>
                    <p>

                        O mankind, We have created you from a male and a female,
                        and made you into races and tribes, so that you may identify one another.
                        Surely the noblest of you, in Allah’s sight, is the one who is most pious of you.
                        Surely Allah is All-Knowing, All-Aware.
                        <b>(Quran 49:13) </b>
                    </p>
                    <div class="carousel-btn">
                        <a class="btn btn-custom btn-lg" href="@Url.Action("Donate","Home")">Donate Now</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Carousel End -->
<!-- About Start -->
<div class="about">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-6">
                <div class="about-img" data-parallax="scroll" data-image-src="../../Content/Customer/img/about.jpg">
                </div>
            </div>

            <div class="col-lg-6">
                <div class="section-header">
                    <p>Learn About Us</p>
                    <h2>Worldwide non-profit charity organization</h2>
                </div>
                <div class="about-tab">
                    <ul class="nav nav-pills nav-justified">
                        <li class="nav-item">
                            <a class="nav-link active" data-toggle="pill" href="#tab-content-1">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" data-toggle="pill" href="#tab-content-2">Mission</a>
                        </li>

                    </ul>

                    <div class="tab-content">
                        <div id="tab-content-1" class="container tab-pane active">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In vitae pellentesque turpis. Donec in hendrerit dui, vel blandit massa. Ut vestibulum suscipit cursus. Cras quis porta nulla, ut placerat risus. Aliquam nec magna eget velit luctus dictum. Phasellus et felis sed purus tristique dignissim. Morbi sit amet leo at purus accumsan pellentesque. Vivamus fermentum nisi vel dapibus blandit. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>
                        <div id="tab-content-2" class="container tab-pane fade">
                            Sed tincidunt, magna ut vehicula volutpat, turpis diam condimentum justo, posuere congue turpis massa in mi. Proin ornare at massa at fermentum. Nunc aliquet sed nisi iaculis ornare. Nam semper tortor eget est egestas, eu sagittis nunc sodales. Interdum et malesuada fames ac ante ipsum primis in faucibus. Praesent bibendum sapien sed purus molestie malesuada. Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- About End -->
<!-- Facts Start -->
<div class="facts" data-parallax="scroll" data-image-src="~/Content/Customer/img/facts.jpg">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-home"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">150</h3>
                        <p>Countries</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-charity"></i>
                    <div class="facts-text">
                        <h3 class="facts-plus" data-toggle="counter-up">400</h3>
                        <p>Volunteers</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-kindness"></i>
                    <div class="facts-text">
                        <h3 class="facts-dollar" data-toggle="counter-up">10000</h3>
                        <p>Our Goal</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="facts-item">
                    <i class="flaticon-donation"></i>
                    <div class="facts-text">
                        <h3 class="facts-dollar" data-toggle="counter-up">5000</h3>
                        <p>Raised</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Facts End -->
<!-- Event Start -->
<div class="event">
    <div class="container">
        <div class="section-header text-center">
            <p>Upcoming Events</p>
            <h2>Be ready for our upcoming events</h2>
        </div>
        <div class="row">
            <div class="col-lg-6">
                <div class="event-item">
                    <img src="~/Content/Customer/img/event-1.jpg" alt="Image">
                    <div class="event-content">
                        <div class="event-meta">
                            <p><i class="fa fa-calendar-alt"></i>01-Jan-45</p>
                            <p><i class="far fa-clock"></i>8:00 - 10:00</p>
                            <p><i class="fa fa-map-marker-alt"></i>New York</p>
                        </div>
                        <div class="event-text">
                            <h3>Lorem ipsum dolor sit</h3>
                            <p>
                                Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus tortor
                            </p>
                            <a class="btn btn-custom" href="">F&Qs</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="event-item">
                    <img src="~/Content/Customer/img/event-2.jpg" alt="Image">
                    <div class="event-content">
                        <div class="event-meta">
                            <p><i class="fa fa-calendar-alt"></i>01-Jan-45</p>
                            <p><i class="far fa-clock"></i>8:00 - 10:00</p>
                            <p><i class="fa fa-map-marker-alt"></i>New York</p>
                        </div>
                        <div class="event-text">
                            <h3>Lorem ipsum dolor sit</h3>
                            <p>
                                Lorem ipsum dolor sit amet elit. Neca pretim miura bitur facili ornare velit non vulpte liqum metus tortor
                            </p>
                            <a class="btn btn-custom" href="">F&Qs</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Event End -->
<!-- Donate Start -->
<div class="donate" data-parallax="scroll" data-image-src="~/Content/Customer/img/donate.jpg">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="donate-content">
                    <div class="section-header">
                        <p>Donate Now</p>
                        <h2>Let's donate to needy people for better lives</h2>
                    </div>
                    <div class="donate-text">
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non. Aliquam metus tortor, auctor id gravida, viverra quis sem. Curabitur non nisl nec nisi maximus. Aenean convallis porttitor. Aliquam interdum at lacus non blandit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="donate-form">
                    <form>
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="First Name" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="Last Name" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" placeholder="Email" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="Amount" required="required" />
                        </div>
                        <div class="control-group">
                            <p class="color-word">Payement *</p>
                            <div>

                                <input type="radio" id="credit" class="custom-radio2 " name="Gender" value="Credit" checked>&nbsp;
                                <label for="credit" class="color-word">Credit</label><br>
                                <input type="radio" id="debit" name="Gender" class="custom-radio2" value="Debit">&nbsp;
                                <label for="debit" class="color-word">Debit</label><br>
                                <input type="radio" id="paypal" name="Gender" class="custom-radio2" value="Paypal">&nbsp;
                                <label for="paypal" class="color-word">Paypal</label>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-custom" type="submit">Donate Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Donate End -->
<!-- Team Start -->
<div class="team">
    <div class="container">
        <div class="section-header text-center">
            <p>Meet Our Team</p>
            <h2>Awesome guys behind our activities</h2>
        </div>
        <div class="row">
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/Content/Customer/img/team-1.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Donald John</h2>
                        <p>Founder & CEO</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/Content/Customer/img/team-2.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>Adam Phillips</h2>
                        <p>Chef Executive</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/Content/Customer/img/team-3.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                         <h2>Thomas Olsen</h2>
                        <p>Chef Advisor</p>

                    </div>
                </div>
            </div>
            <div class="col-lg-3 col-md-6">
                <div class="team-item">
                    <div class="team-img">
                        <img src="~/Content/Customer/img/team-4.jpg" alt="Team Image">
                    </div>
                    <div class="team-text">
                        <h2>James Alien</h2>
                        <p>Advisor</p>
                        
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Team End -->
<!-- Volunteer Start -->
<div class="volunteer" data-parallax="scroll" data-image-src="~/Content/Customer/img/DarulAman2.png">
    <div class="container">
        <div class="row align-items-center">
            <div class="col-lg-5">
                <div class="volunteer-form">
                    <form>
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="First Name" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="Last Name" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" placeholder="Email" required="required" />
                        </div>
                        <div class="control-group">
                            <textarea class="form-control" placeholder="Why you want to become a volunteer?" required="required"></textarea>
                        </div>
                        <div>
                            <button class="btn btn-custom" type="submit">Become a volunteer</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-lg-7">
                <div class="volunteer-content">
                    <div class="section-header">
                        <p>Become A Volunteer</p>
                        <h2>Let’s make a difference in the lives of others</h2>
                    </div>
                    <div class="volunteer-text">
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non. Aliquam metus tortor, auctor id gravida, viverra quis sem. Curabitur non nisl nec nisi maximus. Aenean convallis porttitor. Aliquam interdum at lacus non blandit.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Volunteer End -->
<!-- Contact Start -->
<div class="contact">
    <div class="container">
        <div class="section-header text-center">
            <p>Get In Touch</p>
            <h2>Contact for any query</h2>
        </div>
        <div class="contact-img">
            <img src="~/Content/Customer/img/DarulAman2.png" style="background-size:cover;aspect-ratio:auto" alt="Image">
        </div>
        <div class="contact-form">
            <div id="success"></div>
            <form name="sentMessage" id="contactForm" novalidate="novalidate">
                <div class="control-group">
                    <input type="text" class="form-control" id="name" placeholder="Your First Name" required="required" data-validation-required-message="Please enter your first name" />
                    <p class="help-block text-danger"></p>
                </div>
               <div class="control-group">
                    <input type="text" class="form-control" id="name" placeholder="Your Last Name" required="required" data-validation-required-message="Please enter your last name" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <input type="email" class="form-control" id="email" placeholder="Your Email" required="required" data-validation-required-message="Please enter your email" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <input type="text" class="form-control" id="subject" placeholder="Subject" required="required" data-validation-required-message="Please enter a subject" />
                    <p class="help-block text-danger"></p>
                </div>
                <div class="control-group">
                    <textarea class="form-control" id="message" placeholder="Message" required="required" data-validation-required-message="Please enter your message"></textarea>
                    <p class="help-block text-danger"></p>
                </div>
                <div>
                    <button class="btn btn-custom" type="submit" id="sendMessageButton">Send Message</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Contact End -->
