@{
    Layout = "~/Veiws/Shared/_LayoutCustomer.cshtml";
}

<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Marriage</h2>
            </div>
            <div class="col-12">
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("Library","Home")">Library</a>
            </div>
        </div>
    </div>
</div>
<div class="section-header text-center">
    <div class="carousel-text">
        <h2 style=" color: #FDBE33">Coming Soon...... </h2>
    </div>
</div>