
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Prayer</h2>
            </div>
            <div class="col-12">
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("SlaughterHouse","Home")">Halal Slaughter House</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="section-header text-center">
    <div class="section-header text-center">
        <div class="carousel-text">
            <h2 style=" color: #FDBE33">Coming Soon...... </h2>
        </div>

        <center>

            <p style="color:black;font-size:xx-large">
                <b>
                    Schlachtung der Tiere nach der
                    Sunnah von Muhammad ( صلى الله عليه
                    . (وسلم
                </b>
            </p>

        </center>
    </div><hr />
</div>
