@model DarulAman.Models.tbl_AccessLevel

@{
    ViewBag.Title = "Delete";
}


<h1 class="customh1">Delete</h1>
<h5 class="customdel">Are You sure you want to Delete   "<b style="font-size:20px; color:red">@Html.DisplayFor(model => model.ACCESS_LEVEL)</b>"</h5>

<div>

    <hr />
    <dl class="d-lg-inline-flex" style="margin:0 0 5rem 0">
        <dt class="customdt">
            Access Level
        </dt>

        <dd class="customdd">
            @Html.DisplayFor(model => model.ACCESS_LEVEL)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10" align="center">
                <a href="@Url.Action("Index","tbl_AccessLevel")" class="indexback">Back to Index</a> |
                <button class="custombtn">Delete</button>
            </div>
        </div>
    }
</div>
