


@{ Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Donate Now</h2>
            </div>
            <div class="col-12">
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("Donate","Home")">Donate</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<!-- Donate Start -->
<div class="container">
    <div class="donate" data-parallax="scroll" data-image-src="~/Content/Customer/img/donate.jpg">
        <div class="row align-items-center">
            <div class="col-lg-7">
                <div class="donate-content">
                    <div class="section-header">
                        <p>Donate Now</p>
                        <h2>Let's donate to needy people for better lives</h2>
                    </div>
                    <div class="donate-text">
                        <p>
                            Lorem ipsum dolor sit amet elit. Phasellus nec pretium mi. Curabitur facilisis ornare velit non. Aliquam metus tortor, auctor id gravida, viverra quis sem. Curabitur non nisl nec nisi maximus. Aenean convallis porttitor. Aliquam interdum at lacus non blandit.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-5">
                <div class="donate-form">
                    <form>
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="First Name" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="Last Name" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="email" class="form-control" placeholder="Email" required="required" />
                        </div>
                        <div class="control-group">
                            <input type="text" class="form-control" placeholder="Amount" required="required" />
                        </div>
                        <div class="control-group">
                            <p class="color-word">Gender *</p>
                            <div>

                                <input type="radio" id="credit" class="custom-radio2 " name="Gender" value="Credit" checked>&nbsp;
                                <label for="credit" class="color-word">Credit</label><br>
                                <input type="radio" id="debit" name="Gender" class="custom-radio2" value="Debit">&nbsp;
                                <label for="debit" class="color-word">Debit</label><br>
                                <input type="radio" id="paypal" name="Gender" class="custom-radio2" value="Paypal">&nbsp;
                                <label for="paypal" class="color-word">Paypal</label>
                            </div>
                        </div>
                        <div>
                            <button class="btn btn-custom" type="submit">Donate Now</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Donate End -->