
@{
    Layout = "~/Views/Shared/_LayoutCustomer.cshtml";
}
<!-- Page Header Start -->
<div class="page-header">
    <div class="container">
        <div class="row">
            <div class="col-12">
                <h2>Mosque</h2>
            </div>
            <div class="col-12">
                <a href="@Url.Action("IndexCustomer","Home")">Home</a>
                <a href="@Url.Action("Mosque","Home")">Mosque</a>
            </div>
        </div>
    </div>
</div>
<!-- Page Header End -->
<div class="section-header text-center">
    <div class="carousel-text">
        <h2 style=" color: #FDBE33">Hadith </h2>
        <br /><br />
        <center>
            <p>'Uthman bin 'Affan (möge Allah mit ihm zufrieden sein) berichtete:<br />Der Gesandte Allahs (ﷺ) sagte:</p>

            <p style="color:black;font-size:xx-large">
                <b>   خيركم من تعلم القرآن وعلمه‏</b>
            </p>
            <p style="color:black">
                Der Beste unter euch ist derjenige, der den Koran <br />lernt und ihn lehrt.<br />
                <b>[Al-Bukhari].</b>
            </p>
        </center>
    </div><hr />
</div>